body {
  background: #171717;
}
::-webkit-scrollbar {
  display: none;
}
#root {
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  color: #ffffff;
}

/* common css */

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.flex-clmn {
  display: flex;
  flex-direction: column;
}
.pageButton {
  border: 1px solid white;
  padding: 10px 15px;
}

/* header */
.navbar {
  position: fixed;
  top: -50px;
  background-image: url("https://test.create.diagnal.com/images/nav_bar.png");
  width: 98%;
  justify-content: space-between;
  height: 168px;
  padding: 0 1%;
}
.childNav {
  margin-top: 50px;
  width: 30%;
  height: 25%;
  align-items: center;
}
.backButton {
  width: 30px;
  height: 30px;
  padding: auto 0;
}
.genre {
  font-size: 25px;
  font-weight: 500;
}

/* movie grid */
.movieList {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: space-evenly;

  /* display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 15px 1px; */
  padding: 0 2%;
  width: 96%;
}
.movieContent {
  margin-top: 70px;
  width: 100%;
}
.txt-right {
  justify-content: flex-end;
}
.movie {
  width: 200px;
  justify-self: center;
}

.movieImg {
  max-width: 182px;
}
.movieTitle {
  font-size: 18px;
  font-weight: 300;
}
.unavailable {
  margin-left: 10px;
}
.dropdown {
  position: absolute;
  background: white;
  color: black;
  right: 5px;
  top: 55%;
  padding: 10px;
  width: 50%;
}

.highlight {
  background-color: yellow; /* Customize highlight style */
  color: #171717;
}
/* media query */

@media only screen and (max-width: 400px) {
  .movieImg {
    width: 95px;
    height: 142px;
  }
  .movie {
    width: 95px;
  }
  .genre {
    font-size: 10px;
  }
  .movieTitle {
    font-size: 12px;
    font-weight: 200;
  }
}

@media only screen and (max-width: 900px) and (min-width: 401px) {
  .movieImg {
    width: 110px;
    height: 175px;
  }
  .movie {
    width: 110px;
  }
  .backButton {
    width: 15px;
    height: 15px;
    padding: auto 0;
  }
  .movieTitle {
    font-size: 12px;
    font-weight: 200;
  }
  .lgInput {
    display: none;
  }
  .genre {
    font-size: 15px;
  }
  .childNav {
    padding: 10px 5px;
    width: 50%;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}
